* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

header.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-block: 1rem;
  margin-inline: auto;
  align-items: center;
  z-index: 9999;
  position: sticky;
  top: 0;
  background-color: white;
  flex-wrap: wrap;
}

header.navbar-container .logo img {
  width: 150px;
}

header.navbar-container .nav-list ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-left: 0;
}

header.navbar-container .nav-list li {
  list-style: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

header.navbar-container .nav-list li:hover a {
  border-bottom: 3px solid black;
}

header.navbar-container .home a {
  color: black;
  font-size: 1.5rem;
}

main .content .jumbotron {
  max-width: 1200px;
  width: 90%;
  min-height: 95vh;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

main .content .jumbotron img {
  width: 100%;
}

main .content .news-section {
  background-color: black;
  min-height: 95vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
}

.headline-color {
  color: white;
}

h2 {
  font-size: 3rem;
  margin-top: 1rem;
}

.discography > h2 {
  font-size: 3rem;
  margin-block: 5rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.album {
  margin-block: 2rem;
}

.discography {
  text-align: center;
  margin-top: 2rem;
}

.container .card {
  width: 300px;
  height: 400px;
  padding-inline: 10px;
  padding-block: 10px 40px;
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
}

.container .box {
  width: 300px;
  height: 350px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.container .box img {
  width: 100%;
  height: 90%;
  border-radius: 15px;
}

.container .card img {
  width: 100%;
  height: 90%;
}

a {
  font-size: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: 700;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social {
  height: 100%;
  display: flex;
}

main aside .social ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: red;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social li {
  list-style: none;
  width: 30px;
  height: 30px;
}

main aside .social li a img {
  width: 100%;
  height: 100%;
}

main aside .social li a:hover img {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 1.5rem;
}

footer p {
  margin-top: 1rem;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .home {
    visibility: hidden;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
  }
}
